// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@mobile-cart-padding-0: 0;
@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;
@cart-header-mobile-title: 15;
@cart-header-mobile-sub_title: 12;
@cart-header-subtitle__color: #727272;
@cart-button-incrementer-color: #515353;
@cart-border-color: #ccc;
@cart-order-summary-title: #003f87;
@header-bg-color: #e9e9e4;
@cart-summary-bg: #f8f8f5;
@cart-remove-icon__width: 20px;
@cart-wishlist-color: #ce1126;
@cart-button-cart-summary: #466384;
@cart-button-checkout-red: #ce1126;
@cart-col-item-padding-left: 90px;
@cart-col-qty-mobile_margin-left: @cart-col-item-padding-left + 15px;
@cart-0_em: 0;
@cart-1_em: 1em;
@cart-2_em: 2em;
@cart-price-padding: 34px 0 0;
@cart-table-padding: 0 1.5em;
@cart-button-checkout-width: 90%;
@desktop-width-100: 100%;
@desktop-width-75: 75%;
@desktop-width-25: 25%;
@cart-crossel-width: 250px;

.plus() {
    content: '+';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: @cart-button-cart-summary;
    border-radius: 50%;
    color: @color-white;
    text-align: center;
    right: 0;
    position: absolute;
    font-weight: 900;
}

.minus() {
    content: '-';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: @cart-button-cart-summary;
    border-radius: 50%;
    color: @color-white;
    text-align: center;
    right: 0;
    position: absolute;
    font-weight: 900;
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-title-wrapper {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }
    }

    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }
    }

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @cart-summary-bg); //changed
        margin-bottom: @indent__m;
        padding: 1px @mobile-cart-padding @indent__m;

        > .title {
            .lib-font-size(24);
            .lib-vendor-prefix-display(block);
            .lib-css(padding, @cart-1_em @cart-0_em);
            .lib-css(color, @cart-order-summary-title);
            .lib-css(border-bottom, 1px solid @cart-border-color);
            .lib-css(font-weight, @font-weight__bold);
            margin: 12px 0 0;
        }

        .block {
            //first
            &.shipping {
                .lib-css(border-bottom, 1px solid @cart-border-color);

                &.active {
                    .title {
                        .lib-css(position, relative);
                        .lib-css(margin-top, 10px);

                        &:after {
                            .minus();
                        }
                    }
                }

                .title {
                    .lib-css(position, relative);
                    .lib-css(margin-top, 10px);

                    &:after {
                        .plus();
                    }
                }
            }

            //second
            &.discount {
                &.active {
                    .title {
                        .lib-css(position, relative);
                        .lib-css(margin-top, 10px);

                        &:after {
                            .minus();
                        }
                    }
                }

                .title {
                    .lib-css(position, relative);
                    .lib-css(margin-top, 10px);

                    &:after {
                        .plus();
                    }
                }
            }
        }

        //block-price
        .cart-totals {
            .totals {
                &.sub {
                    .mark {
                        .lib-css(font-size, @font-size__l);
                        .lib-css(font-weight, @font-weight__bold);
                    }

                    .amount {
                        .lib-css(font-size, @font-size__l);
                        .lib-css(font-weight, @font-weight__bold);
                        .lib-css(color, @cart-order-summary-title);
                    }
                }

                &.grand {
                    .mark {
                        .lib-css(font-size, @font-size__xl);
                        .lib-css(font-weight, @font-weight__bold);
                        .lib-css(color, @cart-order-summary-title);
                    }

                    .amount {
                        .lib-css(font-size, @font-size__xl);
                        .lib-css(font-weight, @font-weight__bold);
                        .lib-css(color, @cart-order-summary-title);
                    }
                }

            }
        }

        //button
        .checkout-methods-items {
            button {
                &.action.primary.checkout {
                    .lib-css(width, @cart-button-checkout-width);
                    .lib-css(background, @cart-button-checkout-red);
                    .lib-css(border, 1px solid @cart-button-checkout-red);

                    span {
                        .lib-css(text-transform, uppercase);
                        .lib-css(font-weight, @font-weight__bold);
                    }
                }
            }
        }


        .block {
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);

            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                        margin-top: 4px;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: @indent__base 0 0;
            padding: 0 @mobile-cart-padding;
            text-align: center;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);

        tbody,
        tfoot {
            .mark {
                text-align: left;
            }
        }

        .discount.coupon {
            display: none;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-bottom: @border-width__base solid @border-color__base;
                        padding-bottom: 15px;
                        padding-top: 24px;
                    }
                }

                tbody {
                    td {
                        border: 0;
                    }
                }

                > .item {
                    border-bottom: @border-width__base solid @border-color__base;
                    position: relative;
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: @cart-item-cell-padding-top 11px @indent__s;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.qty {
                    padding: @indent__base 11px @indent__s;
                    text-align: center;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .input-text {
                        height: 36px;
                        margin-top: -7px;
                        text-align: center;
                        width: 60px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {
                //custom + change
                .col {
                    &.item {
                        display: block;
                        min-height: 75px;
                        padding: 15px @mobile-cart-padding @indent__s @cart-col-item-padding-left; ///---> was changed
                        position: relative;
                    }

                    &.qty {
                        button {
                            .lib-css(border-radius, 50%);
                            .lib-css(padding, 7px 13px);
                            .lib-css(background, @cart-button-incrementer-color);
                            .lib-css(color, @color-white);

                        }

                        .input-text {
                            &.qty {
                                .lib-css(border, none);
                            }
                        }
                    }
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                min-height: 20px;
                padding-bottom: 15px;
                position: relative;

                > .action-edit,
                > .action-delete {
                    position: absolute;
                    right: 16px;
                    top: 0;
                    .lib-icon-font(
                        @icon-edit,
                        @_icon-font-size: 18px,
                        @_icon-font-line-height: 20px,
                        @_icon-font-text-hide: true,
                        @_icon-font-color: @minicart-icons-color,
                        @_icon-font-color-hover: @primary__color,
                        @_icon-font-color-active: @minicart-icons-color
                    );
                }

                > .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-trash
                    );

                    &:hover {
                        .lib-css(text-decoration, @link__text-decoration);
                    }
                }
            }

            .action {
                margin-right: @indent__m;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            //change
            .product {
                &-item-photo {
                    display: block;
                    left: @mobile-cart-padding;
                    max-width: 65px;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 100%;
                    border: 1px solid lighten(@cart-header-subtitle__color, 50%);

                    //.product-image-photo {
                    //    transform: scale(1.5);
                    //}
                }

                //custom
                &-item-name {
                    .lib-font-size(25);
                    display: block;
                    margin: -3px 0 @indent__xs;


                    .product-item-name__attributes {
                        display: block;
                        color: @cart-header-subtitle__color;

                        &.wishlist-custom {

                            .towishlist {
                                span {
                                    .lib-font-size(@cart-header-mobile-title);
                                    .lib-css(color, @cart-wishlist-color, 1);
                                    text-transform: uppercase;
                                }
                            }
                        }

                        span {
                            .lib-font-size(@cart-header-mobile-sub_title);
                            color: @cart-header-subtitle__color;
                        }

                        //to remove remove and replace it with after element
                        .action-delete {
                            .lib-icon-image(
                                @_icon-image: '@{baseDir}images/cancel.png',
                                @_icon-image-width:@cart-remove-icon__width,
                                @_icon-image-height:@cart-remove-icon__width
                            );

                            &:before {
                                background-repeat: round;
                            }

                            span {
                                display: none;
                            }

                        }

                    }
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: @indent__base;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);

                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
        clear: left;
        &:extend(.abs-discount-block all);
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //  Cart container
    .cart-container {
        .form-cart {
            .actions.main {
                .lib-vendor-prefix-display();
                .lib-vendor-prefix-flex-direction(column);
                .lib-vendor-box-align(center);

                .clear,
                .continue {
                    .lib-css(margin, 0 0 @indent__m 0);
                }
            }
        }

        .cart-discount {
            border-bottom: @border-width__base solid @border-color__base;
        }

        .cart {

            &.table-wrapper {
                &:first-of-type {
                    .lib-css(border, none);
                }

                border-top: @border-width__base solid @border-color__base;
                .lib-css(padding, @cart-table-padding);
                @abs-add-box-sizing();

                thead {
                    .col {
                        &.item,
                        &.qty,
                        &.price,
                        &.subtotal,
                        &.msrp {
                            display: none;
                        }
                    }
                }

                .col {
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        box-sizing: border-box;
                        display: block;
                        float: left;
                        white-space: nowrap;
                        width: 33%;

                        &[data-th]:before {
                            content: attr(data-th);
                            display: none; // was changed
                            font-weight: @font-weight__semibold;
                            padding-bottom: 10px;
                        }
                    }


                    &.msrp {
                        white-space: normal;
                    }
                }

                .item .col.item {
                    padding-bottom: 0;
                }

                tbody > tr > td:last-child {
                    border: 0;
                }

                .item-info {
                    .lib-css(margin-bottom, @cart-1_em);
                    .lib-vendor-prefix-display(block);
                }

                .col {
                    .product {

                        &-item-details {
                            padding-left: @cart-2_em;
                        }

                        &-item-photo {
                            display: block;
                            left: @mobile-cart-padding-0;
                            max-width: 90px;
                            padding: 0;
                            position: absolute;
                            top: 15px;
                            width: 100%;

                            .product-image-photo {
                                .lib-css(transform, scale(1.8))
                            }
                        }

                        &-item-name {
                            .lib-font-size(15);
                            display: block;
                            margin: -3px 0 @indent__xs;
                            position: relative;

                            .product-item-name__attributes {

                                .lib-font-size(@cart-header-mobile-sub_title);

                                &.wishlist-custom {
                                    margin-top: 1em;

                                    a {
                                        &.towishlist {
                                            position: relative;
                                            left: 0;

                                            &:before {
                                                content: '';
                                                display: block;
                                            }

                                            span {
                                                position: relative;
                                                margin: 0;
                                            }
                                        }
                                    }
                                }

                                &-link {
                                    .lib-vendor-prefix-display(inline-block);
                                    .lib-css(width, 90%);
                                    .lib-css(margin-bottom, @cart-1_em);
                                    .lib-css(font-weight, @font-weight__bold);
                                }

                                .action-delete {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }
                            }

                        }
                    }


                    &.item {
                        padding: 15px @mobile-cart-padding-0 @indent__s @cart-col-item-padding-left;
                    }


                    &.price {
                        display: none;
                    }


                    &.qty {
                        .lib-css(margin-left, @cart-col-qty-mobile_margin-left);
                        .lib-css(width, auto);
                    }


                    &.subtotal {
                        .lib-css(padding, @cart-price-padding);
                        .lib-css(text-align, right);
                        .lib-css(width, auto);
                        .lib-css(float, none);
                    }

                }
            }


        }

        //.cart-totals {
        //    padding-left: @mobile-cart-padding;
        //    padding-right: @mobile-cart-padding;
        //
        //    .table-wrapper {
        //        border-top: 0;
        //    }
        //
        //    .totals {
        //        tbody > tr:not(:last-child) > td:last-child {
        //            border: 0;
        //        }
        //    }
        //}
        //
        //.cart.table-wrapper,
        //.order-items.table-wrapper {
        //    .col.price,
        //    .col.qty,
        //    //.col.subtotal,
        //    .col.msrp {
        //        text-align: left;
        //    }
        //}

    }


    .checkout-cart-index {
        .page-title-wrapper {
            .lib-css(border-top, 1px solid @cart-border-color);
            .lib-css(margin-top, 2rem);

            .page-title {
                .lib-css(margin-top, 2rem);
            }
        }

        .block-search {
            .label {
                left: 2em;
                bottom: -2.5em;
                .lib-css(position, absolute);
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(baseline);

                span {
                    height: auto;
                    position: static;
                    width: auto;
                    color: @cart-header-subtitle__color;
                }
            }

            .control {
                .lib-css(border-top, none);
            }
        }

        .page-header {
            .lib-css(background, @header-bg-color);
            .lib-css(border-bottom, none);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
        }
    }

    //custom
    .checkout-cart-index {
        .page-wrapper {
            .page-main {
                .lib-css(max-width, @desktop-width-100);
                .lib-css(padding-right, @cart-0_em);
            }

            .cart-container {

                .cart-summary {
                    .lib-css(width, @desktop-width-25);
                    .lib-css(height, 100vh);
                    .lib-css(position, unset);
                    .lib-css(transform, translateY(-140px));
                }


                .form {
                    &-cart {
                        .lib-css(width, @desktop-width-75);

                        .table-wrapper {
                            thead {
                                tr {
                                    .lib-css(text-transform, uppercase);
                                    .lib-css(color, @cart-header-subtitle__color);

                                    .col {
                                        .lib-css(border, none);
                                        .lib-css(text-align, center);

                                        &.item {
                                            span {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }

                            tbody {
                                .lib-css(border, none);

                                .col {
                                    &.item {


                                        .product-item {

                                            &-photo {
                                                .lib-css(padding-right, 0);
                                                .lib-css(vertical-align, middle);
                                            }

                                            &-details {
                                                .lib-css(padding-left, @mobile-cart-padding);

                                            }

                                            &-name {
                                                .lib-font-size(20);

                                                .product-item-name__attributes {
                                                    &-link {
                                                        .lib-css(font-weight, @font-weight__bold);
                                                    }

                                                    &.wishlist-custom {
                                                        .towishlist {
                                                            .lib-css(margin-right, 0);

                                                            span {
                                                                .lib-font-size(20);

                                                            }
                                                        }

                                                        .action-delete {
                                                            position: absolute;
                                                            right: -388px;
                                                            top: 14px;
                                                        }
                                                    }

                                                    .lib-font-size(17);

                                                }
                                            }
                                        }
                                    }

                                    &.price {

                                    }

                                    &.qty {
                                        .lib-css(min-width, 160px);

                                        .field {
                                            .lib-css(text-align, center);
                                        }
                                    }

                                    &.subtotal {

                                    }
                                }
                            }
                        }
                    }
                }


                .block {
                    &.crosssell {
                        .lib-css(width, @desktop-width-75);

                        .block-title {
                            strong {
                                .lib-font-size(20);
                                .lib-css(color, @cart-header-subtitle__color);
                            }
                        }

                        .products-grid {
                            .product-item {
                                .lib-css(width, @cart-crossel-width);

                                &-info {
                                    .lib-css(width, @desktop-width-100);

                                    .product-image {
                                        &-photo {
                                            .lib-css(transform, scale(1.04));
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

            }
        }
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);

        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);

            .actions.main {
                text-align: right;
            }
        }

        .widget {
            float: left;

            &.block {
                margin-bottom: @indent__base;
            }
        }
    }

    //  Summary block
    .cart-summary {
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);
        padding: 1px @indent__base @indent__m;
        position: relative;

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__base 0;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    display: table-cell;
                    padding-bottom: 35px;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);
        .lib-layout-column(2, 1, @layout-column-checkout__width-main);
        border: 0;
        box-sizing: border-box;
        padding-right: 4%;

        .block {
            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }

            &.discount {
                width: auto;
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }
}
